html{
	margin: 0px;
}
body{
	margin: 0px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}
.clearFix{
	clear: both;
}
ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}
/*index page*/
#header .containertop{
	background-color: #555555;
}
#header .adds {
	/*height: 250px;*/
}
#header .adds img{
	width: 100%;
	height: 100%;
}
.container{
	width: 960px;
	margin: 0 auto;
}
#header .containertop .container{
	line-height: 22px;

}
#header .containertop .container .leftside{
	float: left;
}
#header .containertop .container .rightside{
	float: right;
}
#header .containertop .container ul li{
	float: left;
}
#header .containertop .container ul li a{
	text-decoration: none;
	display: block;
	padding: 4px 8px;
	color: white;
	border-radius: 3px;
	margin: 5px 0;
	transition: 0.3s;
}
#header .containertop .container ul li a:hover{
	background-color: #6F6F6F;
}
#header .containertop .container ul li a:hover i{
	color: #77DFF6;
}

#header .containerbottom{
	background-color: #6bd5ea;
}
#header .containerbottom .container .logo{
	float: left;
	padding: 20px;
	padding-left: 0px;
}
#header .containerbottom .container .logo a img{
	width: 170px;
}
#header .containerbottom .container .addAdvertisement{
	float: right;
	display: flex;
	align-items: center;
	justify-content: right;
	padding: 20px;
	padding-right: 0px;
}
#header .containerbottom .container .logo , .addAdvertisement{
	width: calc(100% / 2 - 25px);

}
#header .containerbottom .container .addAdvertisement .userName{
	/*float: left;*/
}
#header .containerbottom .container .addAdvertisement .userName a{
	color: white;
	text-decoration: none;
	padding: 4px 8px;
	border-radius: 3px;
	transition: 0.3s;
	font-weight: bold;
	margin: 0 5px;
}
#header .containerbottom .container .addAdvertisement .userName a i{
	margin: 3px;
}
#header .containerbottom .container .addAdvertisement .userName a:hover{
	display: block;
	background-color: #35aec4;
}
#header .containerbottom .container .addAdvertisement{
	float: right;
}
#header .containerbottom .container .addAdvertisement .button input{
	background-color: #35747f;
	padding: 15px 47px;
	border-radius: 3px;
	font-size: 17px;
	border: none;
	color: white;
	cursor: pointer;
	/*font-weight: bold;*/
	transition: 0.3s;
}
#header .containerbottom .container .addAdvertisement .button input:hover{
	background-color: #47858e;
}
#menu{
	background-color: #e5f9fc;
	padding: 20px 0;
}
#menu .container {
	/*border: 1px solid red;*/
}
#menu .container .search{
	padding: 20px 0;
}
#menu .container .search div{
	border: 1px solid lightgray;
	float: left;
	background-color: white;
	margin: 3px;
	border-radius: 5px ;
}
#menu .container .search input, #menu .container .search i{
	border: none;
	font-size: 15px;
	background-color: transparent;
	color: #939292;
}
#menu .container .search i{
	padding: 10px;
}
#menu .container .search input{
	width: calc(100% - 50px);
}
#menu .container .search .searchSide{
	width: calc(100% / 1.7);
}
#menu .container .search .city{
	width: calc(100% / 3.7);
	position: relative;
}
#menu .container .search .city input{
	text-align: left;
}
#menu .container .search .submitButton{
	width: calc(100% / 8.6);
	background-color: #46858E;
	color: white;
	cursor: pointer;
}
#menu .container .search .submitButton i{
	color: white;
}
#menu .container .search .submitButton input{
	color: white;
	cursor: pointer;
	text-align: right;
}
#menu .container .search .city ul{
	display: none
}
#menu .container .search .city:hover ul{
	display: block;
	width: 100%;
	position: absolute;
	top: 35px;
	left: 0px;
	border: 1px solid lightgray;
	background-color: white;
	border-radius: 5px;
	padding: 3px;
}
#menu .container .search .city ul li{
	float: left;
	padding: 4px;
	padding: 15px;
	margin: 4px;
	border: 1px solid lightgray;
	border-radius: 20px;
	transition: 0.3s;

}
#menu .container .search .city ul li:hover{
	color: white;
	background-color: lightgray;
	cursor: pointer;

}
#menu .container .menuList {
	padding: 20px 0;
}
#menu .container .menuList .menuName{
	width: calc(100% / 4 - 10px);
	float: left;
	text-decoration: none;
	color: #149CDA;
	margin: 10px 0;
	transition: 0.3s;
	padding: 5px;
	border-radius: 5px;
}
#menu .container .menuList .menuName:hover{
	background-color: #aee3f9;
}
#menu .container .menuList .menuName h5 {
	line-height: 0px;
}
#menu .container .menuList .menuName:hover h5{
	color: #0d8dc4;
}
#menu .container .menuList .menuName div{
	border: 1px solid #aee3f9;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
	margin-right: 8px;
	background-color: white;
}
#menu .container .menuList .menuName div span{
	display: block;
	text-align: center;
	height: 100%;
}
#menu .container .menuList .menuName div i{
	font-size: 30px;
	text-align: center;
	margin: 0px auto;
	margin-top: 18%;
}
#menu .container .menuList .menuName h5{
	font-size: 13px;
	padding: 5px;

}

#elanSection{
	/*background-color: #F7F6F6;*/
	
}
#elanSection .container{
	background-color: white;
	padding: 30px 0;
}
#elanSection .container h2{
	font-size: 20px;
	margin: 0px;
	margin-bottom: 10px;
	padding: 5px 0px;
	margin-left: 15px;
}
#elanSection .container .elan{
	width: calc(100% / 4 - 16px);
	margin: 7px;
	float: left;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	text-decoration: none;
	box-shadow: 0 0 3px lightgray;
	overflow: hidden;
}
#elanSection .container .elan .image{
	height: 180px;
	position: relative;
}
#elanSection .container .elan .image img{
	width: 100%;
	height: 100%;
}
#elanSection .container .elan .image .price{
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #6bd5ea;
	padding: 0 5px;
	border-top-right-radius: 2px;
}
#elanSection .container .elan .image .price p{
	padding:0;
	font-size: 15px;
	margin: 7px 0;
	color: #444444;
}
#elanSection .container .elan .image .price p span{
	font-size: 14px;
}/*
#elanSection .container .elan .text{
	word-wrap: break-word;
}*/
#elanSection .container .elan .text{
	padding: 5px;
}
#elanSection .container .elan .text h4{
	display: block;
	color: #444444;
	height: 55px;
	overflow: hidden;
}
#elanSection .container .elan .text span{
	font-size: 13px;
	color: #939393;

}

#footer{
	background-color: #061127;
}
#footer .topFooter{
	padding: 30px;
	border-bottom: 1px solid #26395e;
}
#footer .topFooter .footerLeft{
	float: left;
	padding: 15px 0;
	width: calc(100% / 2);
}
#footer .topFooter .footerRight{
	float: right;
	text-align: right;
	padding: 16px 0;
	width: calc(100% / 2);
}
#footer .topFooter .footerLeft ul li{
	float: left;
	line-height: 20px;
}
#footer .topFooter .footerLeft ul li a{
	color: white;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 3px;
	transition: 0.3s;

}
#footer .topFooter .footerLeft ul li a:hover{
	background-color: #2a4170;
}
#footer .topFooter .footerRight span{
	color: #3b5589;
}
#footer .bottomFooter{
	padding: 30px 0;
}
#footer .bottomFooter span{
	font-size: 12px;
	text-align: center;
	display: block;
	color: #3b5589;
	padding: 5px 0;
}
/*index page*/


/*detail page*/
#product {
	/*background-color: #323232;*/
}
#product .container .productPath span a, #product .container .productPath i{
	color: #9b9b9b;
	padding: 10px 3px;
	margin: 5px 0;
	text-decoration: none;
	transition: 0.3s;
}
#product .container .productPath span a:hover{
	color: #6BD5EA;
}
#product .container .productPath span:last-child i{
	display: none;
}

#product .productImage{
	background-color: #323232;
	border: 1px solid black;
	padding: 10px 0;
}
#product .productImage .container .imageLeft{
	width: calc(100% / 2 - 10px);
	float: left;
}
#product .productImage .container .imageLeft img{
	width: 100%;
	cursor: pointer;
}
#product .productImage .container .imageRight {
	float: right;
	width: calc(100% / 2);
}
#product .productImage .container .imageRight div{
	width: calc(100% / 3 - 10px);
	height: 110px;
	overflow: hidden;
	margin: 5px;
	float: left;
}
#product .productImage .container .imageRight div img{
	width: 100%;
	cursor: pointer;
}

#productDetail .productPrice{
	background-color: #F0F0F0;

}
#productDetail .productPrice .container {
	padding: 30px 0;
}
#productDetail .productPrice .container .productPriceLeft{
	width: 100%;
	background-color: #6bd5ea;
	float: left;
	width: 220px;
	text-align: center;
}
#productDetail .productPrice .container .productPriceLeft span{
	color: white;
	font-size: 30px;
	padding: 18px 0;
	display: inline-block;
	font-weight: bold;
}
#productDetail .productPrice .container .productPriceLeft span span{
	font-size: 20px;
}
#productDetail .productPrice .container .productPriceRight{
	width: calc(100% - 235px);
	float: right;
	/*line-height: 0px;*/
	margin-left: 15px;
}
#productDetail .container{
	padding: 20px 0;
}
#productDetail .container .prodLeftSide{
	 width: 220px;
	 float: left;
}
#productDetail .container .userInfo{
	width: 190px;
	padding: 15px;
	background-color: #F0F0F0;
}
#productDetail .container .userInfo .user .userPhone{
	width: calc(100% * 2 / 3);
	float: left;
}
#productDetail .container .userInfo .user .userPhone a{
	text-decoration: none;
	color: #444444;
	display: inline-block;
	padding: 5px 0;
}
#productDetail .container .userInfo .user .userPhone a:first-child{
	font-weight: bold;
}
#productDetail .container .userInfo .user .userPhone a span{
	padding: 5px 0;
	display: block;
	font-size: 11px;
	width: 100%;
}
#productDetail .container .userInfo .user .userPhoneIcon{
	width: calc(100% / 3);
	float: right;
	text-align: right;
}
#productDetail .container .userInfo .user .userPhoneIcon i{
	color: #6bd5ea;
	font-size: 40px;
	
}
#productDetail .container .prodInfo{
	width: 190px;
	padding: 15px;
}
#productDetail .container .prodInfo p{
	font-size: 12px;
	color: #444444;
	line-height: 8px;
}
#productDetail .container .prodInfo a{
	text-decoration: none;
	font-size: 13px;
	color: #444444;
}
#productDetail .container .prodInfo a i{
	color: red;
}
#productDetail .container .prodRightSide{
	 width: calc(100% - 250px);
	 float: right;
	 padding: 0 15px;
}
#productDetail .container .prodRightSide .city span{
	font-size: 16px;
	font-weight: bold;
}
#productDetail .container .prodRightSide .city span:nth-child(2){
	color: #444444;
}
#productDetail .container .prodRightSide .city p{
	line-height: 23px;
	font-size: 17px;
	color: #444444;
}